@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.title {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;

    color: #00bfff;
    padding: .5rem 0;
    padding-left: 3rem;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  .title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 1rem;
  background-color: #00bfff;
}
@keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }